<!doctype html>
<html lang=!>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="navBar">
    <h1 class="logo">Mugdha</h1>
    <input type="text" class="searchBar" placeholder="Search">
</div>

<div class="postProblems">
    <form action="">
        <input type="text" class="postProblems" placeholder="comment your problems">
        <button type="submit" class ="postBtn">POST</button>
    </form>
</div>
</body>
</html>