<!doctype html>
<html lang=!>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/index.css">
    <title>Login</title>
</head>
<body>

<header>
    <nav>
        <div class="login-top-right">
            <a href="/about">About</a>
            <a href="/login">login</a>
        </div>
        <div class="containerForMidSection">
            <div class="middle-section">
                <p class="main-logo"><span class="bro">Bro</span><span class="codes">Codes</span></p>
                <a class="signup" href="/signup">signup</a>
            </div>
            <div class="cpsd-logo">
                <img src="images/cpsd.png" alt="" height="50px">
            </div>
        </div>
    </nav>
</header>


</body>
</html>