@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: "Slackey", serif;
}

nav p a{
    text-decoration: none;
    font-size: 16px;
}

.bro{
    color: #973803;
}


.main-logo{
    font-size: 50px;
}


.bro{
    color: #973803;
}

.codes{
    color: #D75F33;
}

body{
    background: rgb(227, 236, 142);
    background: linear-gradient(180deg, rgba(227, 236, 142,1) 10%, rgba(215, 84, 44,1) 90%);
    backdrop-filter: blur(100px);
    height: 100vh;
}


header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 0 0 100px;
}

.desc-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.description{
    font-size: 1.3vw;
    font-family: "Inter", serif;
    color: #bd0000;

}



