@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

nav{
    font-family: "Slackey", serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 0 0 100px;
    gap: 70px;
    margin-right: 100px;
}

nav a{
    text-decoration: none;
    color: #973803;
    font-size: 15px;
}

nav p a{
    text-decoration: none;
    font-size: 16px;
}

.main-logo{
    padding: 50px 0 0 100px;
}


.bro{
    color: #973803;
}

.codes{
    color: #D75F33;
}

body{
    background: rgb(227, 236, 142);
    background: linear-gradient(180deg, rgba(227, 236, 142,1) 10%, rgba(215, 84, 44,1) 90%);
    backdrop-filter: blur(100px);
    height: 100vh;
}

.askbrosForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    font-family: "Inter", serif;
}

.search-bar{
    height: 25px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.37);
    border: #E37742 solid 1px;
    text-indent: 10px;
    border-radius: 10px;
}

#askbros-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 350px;
    width: 500px;
    background: rgba(255, 255, 255, 0.15);
    padding: 50px;
    border-radius: 30px;
    border: 1px white solid;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form-container textarea{
    width: 470px;
    height: 180px;
    background-color: rgba(255, 255, 255, 0.36);
    border-radius: 10px;
    border: #FFBD9C 1px solid;
    padding: 10px;
    outline: #E37742 solid 2px;
    resize: none;
}


#loginBtn{
    width: 100%;
    background: #E37742;
    /*border: none;*/
    height: 60px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 9px;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 1px rgba(255, 255, 255, 0.45) solid;
}

.linkToSignUp{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-size: 11px;
}

.fPass{
    font-size: 15px;
}

a{
    color: black;
    font-size: 11px;
}

.askbros-button button{
    height: 25px;
    width: 180px;
    background-color: rgb(151, 56, 3);
    border-radius: 5px;
    font-size: 12px;
    color: rgb(255, 121, 73);
    border: none;
    text-align: center;
}

.nav-objects{
    padding: 3px 15px 3px 15px;
    border-radius: 5px;
    transition: 0.7s;
}

.nav-objects:hover{
    background-color: rgb(227, 119, 66);
    letter-spacing: 1px;
}

.avatar{
    border-radius: 50px;
    height: 35px;
    width: 35px;
}

.credentials{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    padding: 10px 20px 10px 10px;
}

.top-part{
    background-color: rgba(7, 2, 2, 0.8);
    border: 8px solid rgb(181, 181, 181);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}

.username p{
    font-size: 15px;
}

.asked-question{
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    height: 70px;
    overflow: scroll;
    font-size: 9px;
}
.comments{
    background-color: rgb(181, 181, 181);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 250px;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.commented-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
    background-color: rgba(7, 2, 2, 0.8);
    padding: 5px 0px 5px 0px;
    border-radius: 10px;
}

.commented-user img{
    height: 25px;
    width: 25px;
}

.sub-cmt-sec{
    padding: 6px;
    font-size: 13px;
    overflow: scroll;
    text-align: left;
    background-color: rgba(7, 2, 2, 0.8);
    margin-top: 5px;
    border-radius: 5px;
    height: 100px;
}

.make-a-comment a{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 10px;
    height: 25px;
    padding: 7px 150px 7px 150px;
    width: 300px;
    text-align: center;
}



