@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: "Slackey", serif;
}

.containerForMidSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*height: 100vh;*/
    height: 60vh;
}
.main-logo{
    font-size: 50px;
}


.middle-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 100px;
}

.bro{
    color: #973803;
}

.codes{
    color: #D75F33;
}

body{
    background: rgb(227, 236, 142);
    background: linear-gradient(180deg, rgba(227, 236, 142,1) 10%, rgba(215, 84, 44,1) 90%);
    backdrop-filter: blur(100px);
    height: 100vh;
}

a{
    font-family: "Inter", serif;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}

.login-top-right{
   display: flex;
    align-content: space-between;
    justify-content: space-between;
    padding: 70px;

}

.login-top-right a{
    color: #973803;
    font-family: "Slackey", serif;
    transition: 0.2s;
}

.login-top-right a:hover{
    color: #D75F33;
}


.signup{
    display: inline-block;
    height: 25px;
    background-color: #973803;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}

.middle-section a{
    font-size: 20px;
    color: rgba(255, 121, 73, 0.75);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    font-weight: bold;
    transition: 0.7s;
}

.signup:hover{
    /*background-color: #D75F33;*/
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.cpsd-logo{
    filter: drop-shadow(0 0 0.9rem red);
    margin-top: 50px;
}


